.body{
  height: 100vh;
  background-color: #FEFAE0;
}

.topnavigation{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  background-color: #D4A373;
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.topnavigation a {
  float: left;
  border-style: solid;
  border-color: #EDF2F4;
  border-radius: 24px;
  color: #EDF2F4;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  transition: color .5s, background-color .5s;
}

.topnavigation a:hover{
  background-color: #FEFAE0;
  color: #2B2D42;
}

.list-label{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 50px;
  color:#D4A373;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-top: 10px;
}

.info-div{
  font-family: "Ubuntu";
  font-size: 20px;
  color:#CCD5AE;
  margin-bottom: 50px;
}

.name-label{
  font-weight: bold;
}

.phone-label{
  font-weight: bold;
}

.resume-flex{
  display: flex;
  flex-direction: column;
}

.resume-header{
  margin-top: 50px;
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 25px;
  color:#D4A373;
  text-decoration: underline;
}

.resume{
  width: 800px;
  height: 1100px;
}

.email{
  background-color:#FEFAE0;
  padding: 16px;
  color: #CCD5AE;
  text-decoration: none;
  font-family: "Ubuntu";
  border-style: solid;
  border-radius: 32px;
  text-align: center;
  transition: color .5s, background-color .5s;
}

.email:hover{
  background-color: #CCD5AE;
  color:#FEFAE0;
}


.linkedin-page{
  background-color:#FEFAE0;
  padding: 16px;
  color: #CCD5AE;
  text-decoration: none;
  font-family: "Ubuntu";
  border-radius: 32px;
  margin-left: 15px;
  border-style: solid;
  text-align: center;
  transition: color .5s, background-color .5s;
}

.linkedin-page:hover{
  background-color: #CCD5AE;
  color:#FEFAE0;
}

.github-page{
  background-color:#FEFAE0;
  padding: 16px;
  color: #CCD5AE;
  text-decoration: none;
  font-family: "Ubuntu";
  border-style: solid;
  border-radius: 32px;
  text-align: center;
  margin-left: 15px;
  transition: color .5s, background-color .5s;
}

.github-page:hover{
  background-color: #CCD5AE;
  color:#FEFAE0;
}
