.body{
  height: 100vh;
  background-color: #FEFAE0;
}

.topnavigation{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  background-color: #D4A373;
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.topnavigation a {
  float: left;
  border-style: solid;
  border-color: #EDF2F4;
  border-radius: 24px;
  color: #EDF2F4;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  transition: color .5s, background-color .5s;
}

.topnavigation a:hover{
  background-color: #FEFAE0;
  color: #2B2D42;
}

.title-card{
  font-size: 50px;
  font-family: "Ubuntu";
  text-decoration: underline;
  color: #D4A373;
  margin-top: 10px;
  margin-bottom: 0px;
}

.why-contact{
  font-size: 20px;
  font-family: "Ubuntu";
  color: #9fab76;
  margin-top: 10px;
}

.list{
  font-size: 20px;
  font-family: "Ubuntu";
  color: #9fab76;
  margin-top: 10px;
}

.list-label{
  font-weight: bold;
  font-size: 25px;
  color:#D4A373;
  text-decoration: underline;
  margin-bottom: 5px;
}

.name-label{
  font-weight: bold;
  margin-bottom: 5px;
}

.phone-label{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.resume-flex{
  display: flex;
  flex-direction: column;
  margin-top: -254px;
}

.resume-header{
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 25px;
  color:#D4A373;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 700px;
}

.resume{
  width: 800px;
  height: 1100px;
  margin-left: auto;
  margin-bottom: 30px;
}