
.background{
  background-color: #CCD5AE;
}

.topnavigation{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  background-color: #D4A373;
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.topnavigation a {
  float: left;
  border-style: solid;
  border-color: #EDF2F4;
  border-radius: 24px;
  color: #EDF2F4;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  transition: color .5s, background-color .5s;
}

.topnavigation a:hover{
  background-color: #FEFAE0;
  color: #2B2D42;
}

p{
  font-size: 20px;
  font-family: "Ubuntu";
  color: #EDF2F4;
  margin-top: -640px;
  margin-left: 515px;
  line-height: 30px;
}

.title-card{
  font-size: 55px;
  margin-top: 15px;
  font-family: "Ubuntu";
  color: #EDF2F4;
  text-decoration: underline;
  margin-bottom: 10px;
}


.red-shirt-photo{
  margin-top: 0px;
  width: 500px;
  height: auto;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #D4A373;
}

.introduction{
  text-indent: 40px;
}

.part2{
  text-indent: 40px;
  font-size: 20px;
  margin-top: 0px;
}