.body{
  height: 100vh;
  background-color: #FEFAE0;
}

.topnavigation{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  background-color: #D4A373;
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.topnavigation a {
  float: left;
  border-style: solid;
  border-color: #EDF2F4;
  border-radius: 24px;
  color: #EDF2F4;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  transition: color .5s, background-color .5s;
}

.topnavigation a:hover{
  background-color: #FEFAE0;
  color: #2B2D42;
}

p{
  font-family: "ubuntu";
  font-size: 20px;
  color:#D4A373;
  margin-top: 10px;
}

.title{
  font-family: "ubuntu";
  font-size: 55px;
  text-decoration: underline;
  color: #CCD5AE;
  margin-top: 10px;
  margin-bottom: 0px;
}

.website-div{
  background-color: #E9EDC9;
  border-radius: 100px;
  padding: 30px;
  border-style: solid;
  border-color: #2B2D42;
}

.website-title{
  font-family: "ubuntu";
  font-size: 50px;
  color: #D4A373;
  margin-top: 10px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.school-div{
  background-color: #D4A373;
  border-radius: 100px;
  padding: 30px;
  border-style: solid;
  border-color: #2B2D42;
  
}
.school-title{
  font-family: "ubuntu";
  font-size: 50px;
  color: #CCD5AE;
  margin-top: 10px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.school-text{
  color:#CCD5AE;
}

.school-projects{
  font-family: "ubuntu";
  font-size: 20px;
  color: #CCD5AE;
  margin-top: 10px;
  margin-bottom: 0px;
}

